@font-face { 
  font-family: "Hiragino Sans GB W3"; 
  src: url("../fonts/Hiragino-Sans-GB-W3.otf"); 
} 

body {
    font-family: "Segoe UI", "Lucida Grande", "Hiragino Sans GB W3", "Microsoft YaHei", Tahoma, sans-serif;
    background-color: #4cff00;
}